h1 {
  color: white;
}

p {
  color: violet;
}

.large {
	font-size: 50px;
}

li {
	color: lime;
}

a:link {
	color: white;
}

a:visited {
	color: rgb(0 255 255);
}

button {
	background-color: dimgray;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}

button:hover {
	background-color: violet;
}

body {
  background-color: rgb(50 50 50);
}

